<nav class="p-4 w-full">

  <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
    <li>
      <a
        routerLink="by-capital"
        routerLinkActive="btn-primary"
        class="btn"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M4 20v-8l8 -8 8 8v8Z" />
            <path d="M9 14a3 3 0 1 0 6 0 3 3 0 1 0 -6 0" />
          </g>
        </svg>


        Por capital
      </a>
    </li>
    <li>
      <a
        routerLink="by-country"
        routerLinkActive="btn-primary"
        class="btn"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M5 2v20" />
            <path d="M5 4h14v9H5" />
            <path d="M5 8.5h14" />
          </g>
        </svg>


        Por país
      </a>
    </li>
    <li>
      <a
        routerLink="by-region"
        routerLinkActive="btn-primary"
        class="btn"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="m2 16 6 -6 3 3 4 -4 7 7" />
            <path d="M2 19h20" />
          </g>
        </svg>

        Por región
      </a>
    </li>
  </ul>
</nav>

